{% extends  "baseAreaProfessor.html" %}
{% block tituloArea %}Boletim{% endblock %}
{% block cssArea %}areaProfessorBoletim.css{% endblock %}

{% block main %}

    <div class="boletim">
        <h1>Boletim</h1>
        <table class="tabelaBoletim">
            <tr>
                <th>Aluno</th><th>Turma</th><th>Adicionar nota</th>
            </tr>
            <tr>
                <td>Victor</td><td>ADS</td><td><a href="/areaProfessorAdicionarBoletim"<button>Adicionar</button></a></td>
            </tr>
        </table>
    </div>


{% endblock %}