{% extends  "baseAreaProfessor.html" %}
{% block tituloArea %}Smart Class{% endblock %}
{% block cssArea %}areaProfessorSmartClass1.css{% endblock %}

{% block main %}

    <div class="disciplinas">
        <h1>Smart Class</h1>
        <div class="disciplina">
            <a href="/areaProfessorSmartClass2">Turma 1<span>></span></a>
        </div>
        <div class="disciplina">
            <a href="/areaProfessorSmartClass2">Turma 2<span>></span></a>
        </div>
        <div class="disciplina">
            <a href="/areaProfessorSmartClass2">Turma 3<span>></span></a>
        </div>
    </div>

{% endblock %}