{% extends "base.html" %}
{% block title %}Nome do Curso{% endblock %}
{% block cssLink %}detalheCurso.css{% endblock %}

{% block content %}
    <section class="slide">
        <p>{{ curso }}</p>
    </section>
    <section class="container">
        <article class="sobreCurso">
            <h1>{{ curso_obj }}</h1>
            <p>{{ curso_obj.descricao_completa }}</p>
        </article>
        <article class="gradeCurso">
            <h1>Grade do Curso</h1>
            {% for grade in grade_obj %}
                <button class="semestre">{{ grade.semestre }}º Semestre</button>
                <ul>
                    {% for disciplina in disciplinas %}
                        <li>{{ disciplina }}</li>
                    {% endfor %}
                </ul>
            {% endfor %}
        </article>
    </section>


{% endblock %}