{% extends "base.html" %}
{% block title %}{{ curso_obj }}{% endblock %}
{% block cssLink %}detalheCurso.css{% endblock %}

{% block content %}
    <section class="slide"></section>
    <section class="container">
        <article class="sobreCurso">
            <h1>{{ curso_obj }}</h1>
            <p>{{ curso_obj.descricao_completa }}</p>
        </article>
        <article class="gradeCurso">
            <h1>Grade do Curso</h1>
            {% for key, value in disciplinas.items %}
                <button class="semestre">{{ key }}º Semestre</button>
                <ul>
                    {% for v in value %}
                        <li>{{ v }}</li>
                    {% empty %}
                        <p>Ainda não tem disciplinas cadastradas</p>
                    {% endfor %}
                </ul>
            {% empty %}
                <p>Ainda não te Grade Curricular de {{ curso_obj }}</p>
            {% endfor %}
        </article>
    </section>


{% endblock %}