{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block cssLink %}formulario.css{% endblock %}

{% block content %}
    <section class="container">
        <div class="titulo espaco">
            <h1>Login</h1>
        </div>
        <section class="formularioPai">
            <div class="formularioFilho">
                <form method="POST" action="">
                    <span class="formSpan">
                        {{ form.as_p }}
                        {% csrf_token %}
                    </span>
                    <button type="submit" value="Enviar">Enviar</button>
                    <button type="reset" value="Limpar">Limpar</button>
                </form>
            </div>
        </section>
    </section>
{% endblock %}
