{% extends "base.html" %}
{% block title %}Noticias{% endblock %}
{% block cssLink %}noticias.css{% endblock %}

{% block content %}
    <section class="slide">
        <p>Noticias</p>
    </section>

    <section class="noticiasPai">
        <article class="noticiasFilho">
            {% for noticia in noticias %}
            <div>
                <img src="../static/img/evento.jpg" alt="" />
                <h3>{{ noticia.titulo }}</h3>
                <p>{{ noticia.descricao_basica }}</p>
                <a href="/noticiaPost/{{ noticia.titulo }}"><button>Leia mais</button></a>
            </div>
            {% endfor %}
        </article>
    </section>



{% endblock %}