.smartClass {
    margin: 20px 20px;
}

.smartClass h1 {
    font-size: 3em;
    margin-bottom: 20px;
}

.postClassPai {
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
}

.postClass {
    text-align: center;
    background-color: #3d3d3d;
    padding: 10px 10px;
    margin: 20px 10px;
}

button {
    width: 80px;
    height: 30px;
    border: 1px solid #ff8c00;
    background-color: #212121;
    color: #fff;
}

button:hover {
    transition: .5s ease;
    background-color: #ff8c00;
}

    @media screen and (max-width: 1024px)
    {
        .postClassPai {
            grid-template-columns: 100%;
        }
    }