@import url('https://fonts.googleapis.com/css?family=Arimo:700|Questrial');
* {padding: 0; margin: 0;}

body {background-color: #212121;}

p, li, a, label {
    font-family: 'Questrial', sans-serif;
    color: #fff
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Arimo', sans-serif;
    color: #ff8c00;
}

input {
    height: 33px;
    border: 1px solid #ff8c00;
    background-color: #212121;
    color: #fff;
}

textarea{
    height: 33px;
    border: 1px solid #ff8c00;
    background-color: #212121;
    color: #fff;
}

select{
    height: 33px;
    border: 1px solid #ff8c00;
    background-color: #212121;
    color: #fff;
}

button {
    height: 33px;
    border: 1px solid #ff8c00;
    background-color: #212121;
    color: #fff;
}

button:hover {
    transition: .9s ease;
    background-color: #ff8c00;
}

.slide {
    display: grid;
    width: 100%;
    height: 350px;
    text-align: center;
    align-items: center;
    font-size: 3em;
}

.topoPai {
    width: 100%;
    height: 124px;
    background-color: #212121;
}

.topoFilho {
    display: grid;
    width: 1170px;
    grid-template-columns: 33.3% 33.3% 33.3%;
    margin: 0 auto;
}

.logo img {
    width: 200px;
    margin: 7px 0;
}

.menu ul, .login ul {
    list-style: none;
}

.menu ul {
    margin-left: 20%;
}

.menu ul li {
    float: left;
    padding: 53px 10px;
}

.menu ul li a, .login ul li a {
    text-decoration: none;
}

.menu ul li a:hover, .login ul li a:hover {
    transition: .5s ease;
    color: #ff8c00;
}

.login ul li a img {
    width: 50px;
    height: 50px;
    background-color: #fff;
    border-radius: 50%;
}

.login ul {
    float: right;
}

.login ul li {
    float: left;
    padding-left: 5px;
    padding-right: 5px;
}

.a {
    padding: 35px 0;
}

.b {
    padding: 53px 0;
}

footer {
    display: grid;
    width: 100%;
    height: 40px;
    background-color: #212121;
    text-align: center;
    align-items: center;
    padding-top: 20px;
}

    @media screen and (max-width: 1170px)
    {
        .topoFilho {
            width: 100%;
        }
    }
